body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    border: 1px solid white;
    display: flex;
    height: 100vh;
    gap: 6rem;
    padding: 6rem;
}

section {
    border: 1px solid white;
}