body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

main {
    display: flex;
    height: 84vh;
    gap: 12rem;
    padding: 3rem 12rem;
}

section {
    border: 1px solid white;
}

@media (width < 1000px) {
    main {
        height: 97vh;
        gap: 0;
        padding: 0;
    }
}