.notes-list {
    flex: 1;
    overflow: hidden scroll;
}

.notes-list ul {
    padding: 0;
    margin: 0;
}

.notes-list li {
    border-bottom: 1px solid white;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
}

.notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-previews {
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.note-title-preview {
    margin-bottom: 0.5rem;
}

.note-content-preview {
    font-style: italic;
    color: gray;
}