.right-column {
    flex: 1;
    overflow: auto;
}

.list-header {
    background: var(--current-bg);
    position: sticky;
    top: 0;
}

.notes-list {
    padding: 0;
    margin: 0;
}

.notes {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--current-border);
    padding: 0.8rem;
    cursor: pointer;
}

.notes .previews {
    width: 83%;
}

.notes .previews div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes .title-preview {
    margin-bottom: 0.5rem;
}

.notes .content-preview {
    font-style: italic;
    color: gray;
}

.notes .timestamps {
    flex: 1;
    color: gray;
    text-align: right;
    font-size: 0.8rem;
}