.note-viewer {
    flex: 1;
}

.note-viewer .focused-note-title {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

    /* Figure out how to make font-size responsive */
    font-size: 2em;

    height: 20%;
    padding: 1rem;
}

.note-viewer .focused-note-content {
    padding: 1rem;
}

