.note-editor {
    flex: 1;
    position: relative;
}

.note-editor textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.note-editor .focused-note-title {
    border-bottom: 1px solid white;
    overflow: hidden;
    
    /* Figure out how to make font-size responsive */
    font-size: 2em;
    
    height: 20%;
}

.note-editor .focused-note-content {
    height: 69%;
}

.note-editor .icons {
    position: absolute;
    bottom: 0.2rem;
    right: 0.4rem;
}

.note-editor .material-symbols-outlined {
    font-size: 3rem;
    cursor: pointer;
}