.notes-list {
    flex: 1;
    overflow: hidden scroll;
}

.notes-list ul {
    padding: 0;
    margin: 0;
}

.notes-list li {
    border-bottom: 1px solid white;
    list-style: none;
    cursor: pointer;
    padding: 0.8rem;
}

.notes {
    display: flex;
    justify-content: space-between;
}

.notes .previews {
    width: 84%;
    /* border: 1px solid red; */
}

.notes .previews div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes .title-preview {
    margin-bottom: 0.5rem;
}

.notes .content-preview {
    font-style: italic;
    color: gray;
}

.notes .timestamps {
    color: gray;
    font-size: 0.8rem;
}