.note-editor {
    flex: 1;
    position: relative;
}

.note-editor textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
}

.note-editor .focused-note-title {
    border-bottom: 1px solid white;
    
    /* Figure out how to make font-size responsive */
    font-size: 2rem;
    
    height: 25%;
}

.note-editor .focused-note-content {
    height: 61%;
}

.note-editor .icons {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.note-editor .material-symbols-outlined {
    font-size: 3rem;
    cursor: pointer;
    margin: 1rem;
    margin-left: 0;
}