:root {
    --light-sort-button-bg: #7FDBFF;
    --dark-sort-button-bg: #143d67;
    --current-sort-button-bg: var(--dark-sort-button-bg);
}

.dropdown {
    position: relative;
}

.dropdown #sort-button {
    display: flex;
    border: none;
    background-color: var(--current-sort-button-bg);
    color: var(--current-fg);
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.2rem;
    min-width: 5.7rem;
    margin-top: 0.2rem;
    outline: none;
}

.dropdown #sort-button .label {
    flex: 5;
}

.dropdown #sort-button .material-symbols-outlined {
    flex: 1;
    font-size: 1rem;
    transition: 200ms;
}

.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    border: 1px solid var(--current-fg);
    background-color: var(--current-bg);
}

.menu li {
    padding: 1rem;
    cursor: pointer;
}

.menu li:hover {
    background-color: #DDDFFF;
}

@media (prefers-color-scheme: light) {
    :root {
        --current-sort-button-bg: var(--light-sort-button-bg);
    }
}