.status-display {
    border-bottom: 1px solid var(--current-border);
    min-height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 0.4rem 0.8rem;
}

.status-display .status-container {
    overflow-wrap: anywhere;
}