.status-display {
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    background: #1c1f23;
    min-height: 2.3rem;
    display: flex;
    align-items: center;
}

.status-display .text {
    padding-left: 0.8rem;
    font-size: 0.9rem;
    font-weight: 100;
}